asn1crypto==1.5.1
blinker==1.8.2
Brlapi==0.8.5
catfish==4.16.4
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.5
cupshelpers==1.0
dbus-python==1.3.2
distro==1.9.0
html5lib==1.1
httplib2==0.22.0
idna==3.6
kali-tweaks==2023.3.2
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.3
louis==3.30.0
mechanize==0.4.10
netifaces==0.11.0
oauthlib==3.2.2
onboard==1.4.1
pexpect==4.9.0
ptyprocess==0.7.0
pycairo==1.26.0
pycups==2.0.1
PyGObject==3.47.0.dev0
PyJWT==2.7.0
pyparsing==3.1.2
pysmbc==1.0.25.1
python-apt==2.9.0
pyxdg==0.28
requests==2.31.0
six==1.16.0
urllib3==2.0.7
wadllib==1.3.6
webencodings==0.5.1
xdg==5
